<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Console</title>

	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/fixed.css">
</head>
<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top">
	<div class="container-fluid">
	 <div class="navbar-brand">Requirements repository POC</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"> 
    	<span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarResponsive">
  		 <ul class="navbar-nav ml-auto">
            <li class="nav-item" > <a class="nav-link" th:href="@{/homepage.html}" th:utext="#{label.pages.home.title}">Home</a> </li>
      		<li class="nav-item"> <a class="nav-link" href="/lista">List </a> </li>
      		<li class="nav-item"> <a class="nav-link" href="/add">Add </a> </li>
      		<li class="nav-item"> <a class="nav-link" href="/api/csv/download">Download</a> </li>
      		<li class="nav-item"> <a class="nav-link" href="/api">Api</a> </li>
      		<li class="nav-item"> <a class="nav-link" href="/console">Console </a> </li>
            <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a> </li>
         </ul>
  		</div>
</div>
</nav>
<!-- End Navigation -->


<div class="container lomake">

	<div th:if="${message != null}" class="alert alert-info" th:utext="${message}">message</div>
	
	<div sec:authorize="hasAuthority('WRITE_PRIVILEGE')">
    <h1>This is the landing page for the admin</h1>
    <br>
     <div sec:authorize="hasAuthority('WRITE_PRIVILEGE')"> This text is only visible to an admin</div>
    <br>
    <a class="btn btn-light" th:href="@{/admin.html}" th:utext="#{label.pages.admin}">admin</a>
    </div>
    <br>
    
    <div sec:authorize="hasAuthority('READ_PRIVILEGE')">
    
    <h1>This is a console for the user</h1>
    </div>
          
   
    
      
      <br>
      <br/>
      <div sec:authorize="hasAuthority('READ_PRIVILEGE')">You can change the password below:</div>
      <a class="btn btn-light" th:href="@{/changePassword.html}" th:utext="#{message.changePassword}">change password</a>
      <br/>
      <br/>
      <br/>
      
      <div th:if="${#authentication.principal.using2FA}">
        You are using Two-step authentication <a href="#" class="btn btn-primary" onclick="disable2FA()">Disable 2FA</a> 
      </div>
        
      <div th:if="${! #authentication.principal.using2FA}">
        You are not using Two-step authentication <a href="#" class="btn btn-primary" onclick="enable2FA()">Enable 2FA</a> 
      </div>
      
      <br/>
      <div id="qr" style="display:none;">
          <p>Scan this Barcode using Google Authenticator app on your phone 
                 <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator2">Android</a> and 
                 <a href="https://itunes.apple.com/us/app/google-authenticator/id388497605">iPhone</a>
          </p>
      </div>
  </div>
  
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript">
function enable2FA(){
    set2FA(true);
}

function disable2FA(){
    set2FA(false);
}

function set2FA(use2FA){
    $.post( "/user/update/2fa", { use2FA: use2FA } , function( data ) {
        if(use2FA){
        	$("#qr").append('<img src="'+data.message+'" />').show();
        }else{
            window.location.reload();
        }
    });
}
</script>
</body>

</html>