<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Requirements repository home</title>
<link rel="shortcut icon" href="img/favicon.ico">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/fixed.css">

</head>
<body data-spy="scroll" data-target="#navbarResponsive">
<!-- Start Home Section -->
<div id="Home" class="offset">

<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top">
	<div class="container-fluid">
	 <div class="navbar-brand">Requirements repository POC</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"> 
    	<span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
  		</button>
  		<div class="collapse navbar-collapse" id="navbarResponsive">
  			<ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="/home">Home</a> </li>
      		<li class="nav-item"> <a class="nav-link" href="/requirementlist">List </a> </li>
      		<li class="nav-item"> <a class="nav-link" href="/add">Add </a> </li>
            <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a> </li>
        </ul>
  		</div>
</div>
</nav>
<!-- End Navigation -->
<!-- Start Landing Page Image or Content -->
<div class="landing">
  <div class="home-wrap">
    <div class="home-inner">
     </div> <!-- home-inner original end div-->
  </div>
</div>
<!-- End Landing Page Image or Content --> 
<!-- Start Landing Page Caption -->
<div class="caption center-block text-center">
	  <h1>Requirements</h1>
	  	<p class="lead narrow">
       <!-- The subject for this project is a simplified poc/front end for the "requirement repository". -->
        <br>
		</p>
    <br>
    <p>
 	  <a class="btn btn-outline-light btn-md" href="/requirementlist">List requirements</a>
    </p>
    


</div>
<!-- End Landing Page Caption -->
</div> <!-- End Home Section -->
<div class="foobar"> <!-- scrolling test and can be removed-->
</div>
<!-- Start Scripts Files -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
<!-- End Scripts Files -->
</body>
</html>