<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Requirementlist</title>
<link rel="shortcut icon" href="img/favicon.ico">

<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
<link type="text/css" rel="stylesheet" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/fixed.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">
<!-- Start Home Section of the page. Offset definition fix the navbar -->
<div id="Home">
<!-- Navigation -->
<nav class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid">
   <div class="navbar-brand">Requirements repository POC</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"> 
      <span class="custom-toggler-icon"><i class="fas fa-bars"></i></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"> <a class="nav-link" href="/home">Home</a> </li>
      		<li class="nav-item"> <a class="nav-link" href="/requirementlist">List </a> </li>
      		<li class="nav-item"> <a class="nav-link" href="/add">Add </a> </li>
            <li class="nav-item"> <a class="nav-link" href="/logout">Logout</a> </li>
        </ul>
      </div>
</div>
</nav>
<!-- End Navigation -->
</div> <!-- End Home Section -->

<div id="Lomake" class="lomake offset">


	<div class="caption">
		<h1>Requirements</h1>
	</div>
	

<div class="Lomake">
    <table class="lomake table table-striped">
		<tr>
		   <th>Id</th>
		   <th>Type</th>
		   <th>Summary</th>
		   <th>Rationale</th>
		   <th>Priority</th>
		   <th>Source</th>
		   <th>Owner</th>
		   <th> </th>
		   <th sec:authorize="hasAuthority('ADMIN')"> </th>
		</tr>  
    	<tr th:each = "requirement: ${requirements}">
    	<td th:text="${requirement.reqid}"></td>
    	<td th:text="${requirement.type.name}"></td>
    	<td th:text="${requirement.summary}"></td>
		<td th:text="${requirement.rationale}"></td>
		<td th:text="${requirement.priority}"></td>
		<td th:text="${requirement.source}"></td>
		<td th:text="${requirement.owner}"></td>
		
		
			<td><a class="btn btn-success" th:href="@{/edit/{id}(id=${requirement.id})}">Edit</a></td>	
 			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${requirement.id})}">Delete</a></td>
 			
    	</tr>
     </table>
	 <a class="btn btn-success" href="/add">Add Requirement</a>    

</div>

<div class="lomake col-md-4 row " style="padding:20px 0">
<span th:inline="text">[[${#httpServletRequest.remoteUser}]] &nbsp;&nbsp;  </span>
	<form th:action="@{/logout}" method="post">
		<input class="btn btn-outline-danger" type="submit" value="Logout"/>
	</form>

</div>

</div>
<!-- Start Scripts Files -->
<script src="js/jquery-3.3.1.min.js"></script>
<script src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/custom.js"></script>
<!-- End Scripts Files -->
</body>
</html>