<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup for the requirements repository</title>
	<link rel="shortcut icon" href="img/favicon.ico">
	<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
	<link type="text/css" rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" type="text/css" href="/css/fixed.css">
</head>
<body data-spy="scroll" data-target="#navbarResponsive">

<div class="lomake">
	<h1>Sign-up</h1>
     
		<form th:object="${signupform}" th:action="@{/saveuser}" action="#" method="post">
		
			<div class="form-group col-sm-6">
				<label> Username :</label>
				<input class="form-control" type="text" th:field="*{username}">
				<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>	
			</div>
			<div class="form-group col-sm-6">
				<label> EMAIL :</label>
				<input class="form-control" type="text" th:field="*{email}">
				<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</p>	
			</div>
			<div class="form-group col-sm-6">
				<label> Password :</label>
				<input class="form-control" type="password" th:field="*{password}" placeholder="Password">
				<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>	
			</div>
			<div class="form-group col-sm-6">
				<label> Re-type Password: </label>
				<input class="form-control" type="password" th:field="*{passwordCheck}"  placeholder="Re-type Password">
				<p th:if="${#fields.hasErrors('passwordCheck')}" th:errors="*{passwordCheck}">Password Match Error</p>	
			</div>
			<br>
			<p>	
			<button type="submit" class="btn btn-primary"value="Signup">Signup</button>	
		</form>
	
</div>
</body>
</html>